  <defs>
    <clipPath id="lensClip"><circle cx="110" cy="108" r="95"/></clipPath>
    <linearGradient id="glass" x1="0" y1="0" x2="0" y2="1">
      <stop offset="0" stop-color="#f2f9f4"/>
      <stop offset="1" stop-color="#dbeade"/>
    </linearGradient>
  </defs>

  <!-- the handle, behind the ring so the joint needs no seam -->
  <path d="M192 190 L230 228" stroke="#3c2a33" stroke-width="21" stroke-linecap="round" fill="none"/>
  <path d="M178 176 L197 195" stroke="#9fb4a6" stroke-width="19" stroke-linecap="round" fill="none"/>

  <circle cx="110" cy="108" r="95" fill="url(#glass)"/>

  <g clip-path="url(#lensClip)">
    <g class="bub" style="--i:0">
      <circle cx="164.8" cy="124.0" r="22.644" fill="#7a4b9c"/>
      <g transform="translate(149.4 108.6) scale(1.283)">
        <path d="M12 1.6 22.8 5.9 12 10.2 1.2 5.9zM21 6.7v4.4a1 1 0 1 1-1.4 0V7.3zM12 11.9a3.3 3.3 0 1 0 0 6.6 3.3 3.3 0 0 0 0-6.6zM4.9 22.4a7.1 7.1 0 0 1 14.2 0z" fill="#fff" fill-rule="evenodd"/>
      </g>
    </g>
    <g class="bub" style="--i:1">
      <circle cx="119.4" cy="132.1" r="22.032" fill="#2f7d5c"/>
      <g transform="translate(104.4 117.1) scale(1.248)">
        <path d="M11.4 1.2h1.2v2.4h-1.2z M12.6 1.6l3 1-3 1zM12 3.8 22.4 8.6v1.6H1.6V8.6zM3.4 11.4h17.2V21.8H3.4zM10.2 15.4h3.6v6.4h-3.6zM5.4 13.6h2.9v2.9H5.4z M15.7 13.6h2.9v2.9h-2.9z" fill="#fff" fill-rule="evenodd"/>
      </g>
    </g>
    <g class="bub" style="--i:2">
      <circle cx="125.2" cy="177.4" r="21.419999999999998" fill="#2a5fa8"/>
      <g transform="translate(110.6 162.9) scale(1.214)">
        <path d="M8.8 2.4h13.4v10.2H8.8z M10.8 4.6h9.4V6h-9.4z M10.8 7.6h6.2V9h-6.2zM5.2 5.6a2.7 2.7 0 1 0 0 5.4 2.7 2.7 0 0 0 0-5.4zM1.4 22.2c0-3.1 1.7-5.6 3.8-5.6s3.8 2.5 3.8 5.6zM6.9 12.9 11.4 9.8l1.2 1.8-4.5 3.1z" fill="#fff" fill-rule="evenodd"/>
      </g>
    </g>
    <g class="bub" style="--i:3">
      <circle cx="83.7" cy="158.3" r="20.808" fill="#b8892b"/>
      <g transform="translate(69.6 144.1) scale(1.179)">
        <path d="M2.2 6.2c0-1.3 1.1-2.4 2.4-2.4h14.8c1.3 0 2.4 1.1 2.4 2.4v9.2H2.2zM4.8 6.9h3.7v3.6H4.8z M10.1 6.9h3.8v3.6h-3.8z M15.5 6.9h3.7v3.6h-3.7zM2.2 16.2h19.6v1.9H2.2zM6.6 16.4a2.3 2.3 0 1 0 0 4.6 2.3 2.3 0 0 0 0-4.6zM17.4 16.4a2.3 2.3 0 1 0 0 4.6 2.3 2.3 0 0 0 0-4.6z" fill="#fff" fill-rule="evenodd"/>
      </g>
    </g>
    <g class="bub" style="--i:4">
      <circle cx="52.7" cy="128.5" r="20.808" fill="#0c6455"/>
      <g transform="translate(38.5 114.4) scale(1.179)">
        <path d="M12 1.4l1.4 3 3.2.4-2.4 2.2.6 3.2-2.8-1.6-2.8 1.6.6-3.2L7.4 4.8l3.2-.4zM9.2 11.4h5.6v10.8H9.2zM2.4 14.4H8v7.8H2.4zM16 16.4h5.6v5.8H16z" fill="#fff" fill-rule="evenodd"/>
      </g>
    </g>
    <g class="bub" style="--i:5">
      <circle cx="48.0" cy="83.6" r="19.584" fill="#c2542a"/>
      <g transform="translate(34.6 70.3) scale(1.110)">
        <path d="M2.6 5.2c2.7-1.7 5.7-1.7 8.4 0v13.4c-2.7-1.7-5.7-1.7-8.4 0zM13 5.2c2.7-1.7 5.7-1.7 8.4 0v13.4c-2.7-1.7-5.7-1.7-8.4 0zM11.4 5.6h1.2v13.2h-1.2z" fill="#fff" fill-rule="evenodd"/>
      </g>
    </g>
    <g class="bub" style="--i:6">
      <circle cx="83.7" cy="101.5" r="18.972" fill="#1f6f8b"/>
      <g transform="translate(70.8 88.6) scale(1.075)">
        <path d="M12 1.8 22.6 7v1.6H1.4V7zM3.6 9.8h2.5v8.6H3.6z M8.4 9.8h2.5v8.6H8.4z M13.1 9.8h2.5v8.6h-2.5z M17.9 9.8h2.5v8.6h-2.5zM2.2 19.6h19.6v2.4H2.2z" fill="#fff" fill-rule="evenodd"/>
      </g>
    </g>
    <g class="bub" style="--i:7">
      <circle cx="73.4" cy="52.8" r="18.972" fill="#a2372f"/>
      <g transform="translate(60.5 39.9) scale(1.075)">
        <path d="M3 2.4h18v12.2H3z M6.2 5.8h11.6v1.6H6.2z M6.2 9.2h7.8v1.6H6.2zM17.2 14.6a3.4 3.4 0 1 0 0 6.8 3.4 3.4 0 0 0 0-6.8zM13.6 20.1 12.4 24l2.6-1.1 1.4 1.1.6-3.4z" fill="#fff" fill-rule="evenodd"/>
      </g>
    </g>
    <g class="bub" style="--i:8">
      <circle cx="108.4" cy="70.8" r="18.972" fill="#8a6a1c"/>
      <g transform="translate(95.5 57.9) scale(1.075)">
        <path d="M12 2.6c4.5 0 8.1 1.4 8.1 3.2S16.5 9 12 9 3.9 7.6 3.9 5.8 7.5 2.6 12 2.6zM3.9 8.2C5.4 9.7 8.5 10.6 12 10.6s6.6-.9 8.1-2.4v2.7c0 1.8-3.6 3.2-8.1 3.2s-8.1-1.4-8.1-3.2zM3.9 13.8c1.5 1.5 4.6 2.4 8.1 2.4s6.6-.9 8.1-2.4v2.7c0 1.8-3.6 3.2-8.1 3.2s-8.1-1.4-8.1-3.2z" fill="#fff" fill-rule="evenodd"/>
      </g>
    </g>
    <g class="bub" style="--i:9">
      <circle cx="146.4" cy="78.2" r="18.36" fill="#1f7f74"/>
      <g transform="translate(133.9 65.7) scale(1.040)">
        <path d="M12 1.6a10.4 10.4 0 1 0 0 20.8 10.4 10.4 0 0 0 0-20.8zm0 2.1a8.3 8.3 0 1 1 0 16.6 8.3 8.3 0 0 1 0-16.6zM12 6.4 16 9.3l-1.5 4.7h-5L8 9.3z" fill="#fff" fill-rule="evenodd"/>
      </g>
    </g>
    <g class="bub" style="--i:10">
      <circle cx="182.3" cy="86.7" r="17.136" fill="#b5471f"/>
      <g transform="translate(170.6 75.0) scale(0.971)">
        <path d="M16.4 2.2 21.8 7.6l-2.7 2.7-5.4-5.4zM12.6 6 18 11.4 7.9 21.5 2.5 16.1zM1.8 17.4 6.6 22.2 1 23.4z" fill="#fff" fill-rule="evenodd"/>
      </g>
    </g>
  </g>

  <!-- the ring last, so it covers every bubble edge cleanly -->
  <circle cx="110" cy="108" r="100.5" fill="none"
          stroke="var(--lens-ring, #0c6455)" stroke-width="11"/>
  <!-- the glint: what makes it read as glass rather than a coloured disc -->
  <path d="M50 76a70 45 0 0 1 70-36" stroke="#ffffff" stroke-width="7"
        stroke-linecap="round" fill="none" opacity=".55"/>
